<h1>Sample Title</h1>


<ul>

    <li><h1>Trainer One</h1></li>
    <li><p>Some text showcasing info about this trainer.</p></li>
    <li><h1>Trainer Two</h1></li>
    <li><h1>Trainer Three</h1></li>
    <li><h1>Trainer Four</h1></li>
    <li><h1>Trainer Five</h1></li>
    <li><h1>Trainer Six</h1></li>
    <li><h1>Trainer Seven</h1></li>

</ul>


<%= form_with do %>
  Form contents
<% end %>


